:root{
  --headercolor:  #0e5b62;
  --lightcard:  rgba(255, 255, 255, 0.812);
  --subtle:  rgb(197, 201, 209);
  --lightestcard:  rgb(252, 253, 255);

}
*{
  font-family: 'Poppins', sans-serif;
}
.bolder{
  font-family: 'Poppins', sans-serif;
}


.containter_one{
  background-image: url('mentalhealth2.jpg');
  background-position: center;
  background-size: cover;
}
.header_cute{
  background-color:var(--headercolor);
}

.toi{
  border-left: 5px solid #0e5b62;
}

.formcard{
  background-color: var(--lightcard) ;
  /* box-shadow: 10px 15px 5px rgba(0, 0, 0, 0.229); */
}

.formcard2{
  background-color: #d5e0e1 ;
  /* box-shadow: 10px 15px 5px rgba(0, 0, 0, 0.229); */
}

.spill{
  transform: translateY(8vh);
}
.photoheight{
  height: 55vh;
}
/* #btcolorone{
  background-color: var(--headercolor);
  
} */

.whitefont{
  color: aliceblue;
}

.dark_row{
  background-color: var(--headercolor);
}

.subtle_row{
  background-color: var(--headercolor);
}
.ltformcard{
  background-color: var(--lightestcard) ;
  /* box-shadow: 10px 15px 5px rgba(0, 0, 0, 0.229); */
}
.smformcard{
  background-color: var(--lightcard) ;
  height: 22vh;
  /* box-shadow: 10px 15px 5px rgba(0, 0, 0, 0.229); */
}

.bgformcard{
  background-color: var(--lightcard) ;
  height: 30vh;
  /* box-shadow: 10px 15px 5px rgba(0, 0, 0, 0.229); */
}